<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base de datos</title>
</head>
<body>
    
    
    {% block contenido_que_cambia %}
    
    <h1 style="color:blue">Bienvenido a la base de datos de la familia</h1>
    
   
   
   
    <p>Para agregar objetos a la familia haga click en alguno de estos links: <br> <a target="_blank" href="http://127.0.0.1:8000/AppFamilia/familiarForm">Agregar Familiar</a> <br> <a target="_blank" href="http://127.0.0.1:8000/AppFamilia/mascotaForm">Agregar Mascota <br> <a target="_blank" href="http://127.0.0.1:8000/AppFamilia/vecinoForm">Agregar Vecino</a></a>
    <br>
    <p>Para buscar a un vecino ingrese en este link: <a target="_blank" href="http://127.0.0.1:8000/AppFamilia/busquedaVecino">Buscar Vecino</a></p>
    </p>


    {% endblock %} 
</body>
</html>